#img {
    height: 200px;
    height: 200px;
    border-radius: 50%;
}

hr {
    border-color: #000000;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    }

    h1, h2, h3 {
        color:rgb(74, 160, 160)
    }
